/* styles/global.css */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');


body {
  font-family: Monaco, Consolas, Lucida Console;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

h1 {
  font-size: 3em;
  font-weight: normal;
  text-align: left;
  color: #3D52A0;
}

h2 {
  font-size: 2em;
  font-weight: normal;
  text-align: left;
  color: #3D52A0;
}

h3 {
  font-size: 2em;
  font-weight: normal;
  text-align: left;
  color: #3D52A0;
  margin-bottom: 1%;
  margin-top: 1%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  align-content: left;
  text-align: left;
}

.about p {
  text-align: left;
  font-size: 1.5em;
  color: #3D52A0;
  max-width: 60vw;
}

.nameBanner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.typed-text {
  color: #3D52A0;
  padding: 0px;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.typed-cursor {
  font-size: 3em;
  color: #3D52A0;
  display: inline;
  animation: blink 1s steps(1, start) infinite;
  z-index: 1;
}

/* Fullpage.js styles */
.section {
  /* display: flex; */
  /* width: 100%; */
  padding: 20px;
  /* Debugging width */
  /* border: 5px solid red; */
  align-items: center;
  justify-content: center;
  background-color: #EDE8F5;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  /* Debugging width */
  /* border: 1px solid red; */
  width: 90%;
  margin: 10%;
}

.about-container .terminal {
  width: 40%;
}

/* .projects-container,
.contact-container {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 90%;

} */

.projects-container,
.contact-container {
  display: flex;
  align-items: top;
  justify-content: left;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.projects h2 {
  text-align: left;
}

.project-card,
.contact-card {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 50vw;
  text-align: Left;
  transition: transform 0.2s;
  overflow: hidden;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card h2 {
  margin-top: 0;
}

.project-card p {
  margin-bottom: 0;
}

.github-button,
.devpost-button {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: #3D52A0;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.github-button i,
.devpost-button i {
  font-size: 1.5em;
}

.github-button:hover,
.devpost-button:hover {
  background-color: #555;
}

/* @media (min-width: 1250px) {
  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .contact h1 {
    width: 30vw;
  }
} */

/* @media (max-width: 1250px) { */

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact h1 {
    align-items: center;
  }
/* } */

.contact-card {
  justify-items: center;
}


.container-card p {
  margin-bottom: 0;
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
  margin-top: 20px;
}

.contact-button {
  display: flex;
  align-items: center;
  width: 100px;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #3D52A0;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.contact-button i {
  margin-right: 10px;
  font-size: 1.5em;
}

.contact-button:hover {
  background-color: #555;
}

/* Static horizontal line at the bottom */
hr.static-line {
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  border: none;
  height: 2px;
  background-color: #3D52A0;
}

/* Scrolling text animation */
/* .scrolling-text-top {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  transform: translateX(0%);
  width: 100%;
  font-size: 5em;
}

.scrolling-text-mid {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  transform: translateX(0%);
  width: 100%;
  font-size: 5em;
}

.scrolling-text-bot {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  transform: translateX(20%);
  width: 200%;
  font-size: 5em;
} */

/* Scrolling text animation */
/* .scrolling-text-top span {
  display: inline-block;
  align-self: center;
  padding: 0%;
  font-size: 10vw;
  animation: scroll 10s linear infinite;
}

.scrolling-text-mid span {
  display: inline-block;
  align-self: center;
  padding: 0%;
  font-size: 20vw;
  animation: scroll 20s linear infinite;
}

.scrolling-text-bot span {
  display: inline-block;
  align-self: center;
  padding: 0%;
  font-size: 10vw;
  animation: scroll 15s linear infinite;
}

.overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 1vw;
  text-align: center;
  padding: 0px;
  box-sizing: border-box;
  animation: fade-in 2s forwards;
}

.overlay-l {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 1vw;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  animation: fade-in 2s forwards;
}

@keyframes scroll {
  0% {
    transform: translateX(35%);
  }

  100% {
    transform: translateX(-100%);
  }
} */

/* Custom properties for mouse position */
/* :root {
  --mouse-x: 0px;
  --mouse-y: 0px;
}

.text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  padding-left: 10%;
  padding-bottom: 15%;
  font-size: 2em;
} */

/* Mouse position display */
.mouse-position {
  position: absolute;
  word-wrap: normal;
  width: 120%;
  height: 120%;
  bottom: 0px;
  right: -30px;
  background-color: #8697C4;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 2vw;
  font-family: 'Merriweather';
  will-change: transform;
  transform: translate(var(--mouse-x)+'%', var(--mouse-y)+'%'), scale3d(1, 1, 1);
}